<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>

</head>
<body>

<div th:if="${param.error}">
    <p th:text="${session.error}" th:unless="${session == null}">[...]</p>
</div>
<div th:if="${param.logout}">You have been logged out.</div>
<h1>Login</h1>

<p>Please put your credentials.</p><br>

<div>
    <form th:action="@{/login}" method="post">

        <!-- Username -->
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>

        <br>

        <!-- Password input -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>

        <br>

        <!-- Submit button -->
        <button type="submit">Login</button>
    </form>
</div>
<a href="/register">Register</a>
</body>
</html>